@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

h1
{
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;

}

h2
{
    text-align: center;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;

}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.st-emotion-cache-vk3wp9.eczjsme11 > div.st-emotion-cache-6qob1r.eczjsme3 > div.st-emotion-cache-16txtl3.eczjsme4 > div > div > div > div > div:nth-child(3) > div > button
{
    border-radius: 6.25rem;
    background: var(--Function-Primary, #914DC7);
    color: white;
    justify-content: center;
}